.container {
  border: 2px solid black;
  width: 760px;
  height: 480px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.image-1 {
  width: 200px;
  margin: 0 auto;
}
