* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;

  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-card {
  width: 30%;
  height: 60%;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 12px;

  box-shadow: 0 3px 2px 2px grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: hidden;
}

.btn-wrapper {
  display: flex;
  gap: 15px;
}

button {
  width: 60px;
  height: 20px;
  background-color: seashell;
  border: 1px solid salmon;
  border-radius: 5px;
  box-sizing: border-box;
}

button:hover {
  transition: all ease-in 0.2s;
  scale: 1.2;
  transform: translateY(-5px);

  box-shadow: 0 4px 4px darkred;
  background-color: salmon;
  color: seashell;
}
