* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.box {
  width: 277px;
  height: 441px;
  border: 2px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  border: 2px solid navy;

  display: flex;
  justify-content: center;
  align-items: center;
}

.doge-png {
  width: 80px;
  height: 80px;
  align-items: center;
  border: 2px solid black;
  border-radius: 100%;
  background-color: gold;
  object-fit: cover;
  object-position: top;
}

.icons-container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.icons-container > i {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* PSEUDO CLASS */
.icons-container > i:hover {
  opacity: 1;
  transform: scale(2);
}

.fa-facebook:hover {
  color: #1877f2;
}
.fa-instagram:hover {
  color: #e4405f;
}
.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-github:hover {
  color: #181717;
}

/* state - colour */

.fa-facebook.state-colour {
  color: #1877f2;
}
.fa-instagram.state-colour {
  color: #e4405f;
}
.fa-linkedin.state-colour {
  color: #0a66c2;
}
.fa-github.state-colour {
  color: #181717;
}

/* Button styling */
.download-btn {
  color: white;
  background-color: #9960cb;

  border: 2px solid #6100b5;
  border-radius: 12px;
  padding: 8px 22px;

  cursor: pointer;
}

.download-btn:hover {
  opacity: 0.7;
}

h3.colour {
  color: #6100b5;
}

p.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
